[submodule "sources_non_forked/vim-phpqa"]
	path = sources_non_forked/vim-phpqa
	url = https://github.com/joonty/vim-phpqa.git
[submodule "sources_non_forked/vim-easymotion"]
	path = sources_non_forked/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "sources_non_forked/vdebug"]
	path = sources_non_forked/vdebug
	url = https://github.com/joonty/vdebug.git
[submodule "sources_non_forked/vim-ruby"]
	path = sources_non_forked/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "sources_non_forked/vim-ansible-yaml"]
	path = sources_non_forked/vim-ansible-yaml
	url = https://github.com/chase/vim-ansible-yaml.git
